'menu': [
  {
    label: '&Zenit'
    submenu: [
      { label: 'E&xit', command: 'application:quit' }
    ]
  }

  {
    label: '&Developer'
    submenu: [
      { label: 'Toggle Developer &Tools', command: 'window:toggle-dev-tools' }
    ]
  }
]