'menu': [
  {
    label: '&Zenit'
    submenu: [
      { label: 'Add &session', command: 'application:new-session' }
      { type: 'separator' }
      { label: 'E&xit', command: 'application:quit' }
    ]
  }

  {
    label: '&Developer'
    submenu: [
      { label: 'Toggle Developer &Tools', command: 'window:toggle-dev-tools' }
    ]
  }
]