:host {
  display: block;
  padding-left: 230px;

  --paper-toolbar-background: #673AB7;
  --paper-tabs-selection-bar-color: #FF6D00;
  --paper-tabs-selection-bar: {
    height: 4px;
  }
  --paper-tab-content: {
    font-weight: 500 !important;
  }
}

paper-toolbar {
  height: 110px;
  /*@apply(--shadow-elevation-2dp);*/
  
  -webkit-app-region: drag;
}

paper-toolbar .bottom {
  height: 33px;
}

paper-tabs paper-tab {
  font-size: 17px;
  font-weight: 100;

  -webkit-app-region: no-drag;
}

paper-toolbar .top {
  display: flex;
  width: 100%;
}

paper-toolbar .top paper-icon-button {
  -webkit-app-region: no-drag;
}

paper-toolbar .top .left {
  display: flex;
  flex: 1;
  align-items: center;
}

paper-toolbar .top .left .title {
  vertical-align: middle;
  font-size: 20px;
}

paper-toolbar .top paper-icon-button[icon="arrow-back"] {
  margin-right: 12px;
}

.content-wrapper {
  margin: 12px;
}

.create-table {
  margin-top: 20px;
  background-color: #FAFAFA;
  padding: 16px 12px;

  @apply(--shadow-elevation-2dp);
}

.create-table .title {
  font-size: 17px;
  color: #673ab7;
}

.create-table .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.create-table paper-input {
  display: inline-block;
  margin-right: 20px;
  outline: none;

  --paper-input-container-underline: {
    margin-top: 2px;
    background: rgba(115, 115, 115, .4);
    outline: none;
  };

  --paper-input-container-underline-focus: {
    margin-top: 2px;
  };
}

.create-table #table-name {
  width: 310px;
}

.create-table paper-button {
  padding: 0.6em 0.8em;
  color: #FFFFFF;
  background-color: #FF6D00;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 5px;
}